# Ignore Gradle project-specific cache directory
.gradle
.project
.classpath
gradlew
gradlew.bat
.gitattributes

# Ignore Gradle build output directory
build
gradle
.settings
.vscode
bin

